{% extends "app_base.html" %}

{% block title %}{{ block.super }} | {{ court.name }}{% endblock %}

{% block main %}
    <div class="container">
        {% if court.images.all %}
            <img height="300" width="400" src="{{ court.images.first.image.url }}" alt="{{ court.name }}">
        {% endif %}
        <h1>{{ court.name }}</h1>
        <p>{{ court.street }}, {{ court.neighborhood }}, {{ court.city }}</p>
        {% for facility in court.facilities %}
            <p>{{ facility }}</p>
        {% endfor %}
        {% for availability in court.availability_weeks %}
            <p>{{ availability }}</p>
        {% endfor %}
        {% for availability in court.availability_times %}
            <p>{{ availability }}</p>
        {% endfor %}
        <p>Preço avulso {{ court.single_price }}</p>
        <p>Preço mensal {{ court.monthly_price }}</p>
        {% if request.user.is_authenticated and court.owner_id == request.user.id %}
            <form action="{% url 'court.delete' id=court.id %}" method="POST" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Excluir</button>
            </form>
            <a class="btn btn-secondary" href="{% url 'court.update' id=court.id %}">Editar</a>
            <a class="btn btn-primary" href="{% url 'court.reservation.index' id=court.id %}">Reservas</a>
        {% else %}
            <a class="btn btn-primary" href="{% url 'court.reserve' id=court.id %}">Reservar avulso</a>
            <a class="btn btn-secondary" href="{% url 'court.reserve' id=court.id %}">Reservar mensal</a>
        {% endif %}
    </div>
{% endblock %}