{% extends "app_base.html" %}

{% block title %}{{ block.super }} | Minhas reservas{% endblock %}

{% block main %}
    <div class="container">
        <h1>Minhas reservas</h1>
        <ul class="list-group">
            {% for reservation in reservations %}
                <li class="list-group-item">
                    <h2>{{ reservation.court.name }}</h2>
                    <p>{{ reservation.date }} - {{ reservation.time }}</p>
                    <p>Duração: {{ reservation.duration }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
